<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn VueJS</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        {{ message }} from {{ name }}. 
        <br> 
        My Student ID is {{nim}}, 
        <br>
        I am {{age}} years old, and I am a {{gender}}. 
        <br>
        My favourite things are {{hobbies}} 
        <br>
        My other Favourites are {{favourites}}
        <br>
        My adrress is at {{ address }}
        <br>
        Message: <input type="text" v-model="message"> <br>
        Name: <input type="text" v-model="name">

        <h1 v-if="on">Displayed if property on is true</h1>
        <h1 v-else>Display if property on is false</h1>
    </div>

    <script>
        const { createApp } = Vue

        createApp({
            data() {
                return {
                    on: false, //the content will not be displayed if it is false, but if we change itu to true, then the content will be displayed
                    message: 'Hello Vue!', //two way data-binding 
                    //message: 'Hello Vue!' and v-model="message"
                    //if you update the v-model, then the message: 'Hello Vue!' will also be updated
                    name: 'Green',
                    //Create 3 other properties and display them
                    nim: '2281065',
                    age: '20',
                    gender: 'Female',

                    //Create a propertty using array data type
                    hobbies : ["Singing", "Badminton", "Watching"],

                    //Create a property using object data type
                    //the object should have at least 3 properties
                    address: {
                        street: 'Jl. Kolonel Masturi No. 288',
                        district: 'Parongpong',
                        regency: 'Bandung Barat',
                        province: 'West Java'
                    },
                    favourites: {
                        food: 'Noodles',
                        drink: 'Fruite Juice',
                        Color: 'Green'
                    }
                }
            }
        }).mount('#app');

        

    </script>

</body>
</html>