<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn VueJS part 2</title>
</head>
<body>
    <div id="app">
        {{ message }}
        <br>
        {{ name }}

        <button v-on:click="count++">add 1</button>
        <button v-on:click="count--">minus 1</button>
        <p>Count is: {{ count }}</p>

        Products:
        <ul>
        <li v-for="product in products">
            {{ product }}
        </li>
        </ul>


        Items: 
        <ul>
            <li v-for="item in items">
                {{ item.productName }} (${{ item.productPrice }})
            </li>
        </ul>
        <h3 v-if="count>=10">Congratulations! You have 10 counts or more</h3>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
        const { createApp } = Vue

        createApp({
            data() {
                return {
                    message: 'Hello Vue!',
                    name: 'Green Melissa',
                    count: 0,
                    products: ['Macbook Pro', 'Macbook Air', 'iPad'],
                    items: [
                    { productName: 'Samsung S27', productPrice: 77 },
                    { productName: 'Xioami 90', productPrice: 99 },
                    { productName: 'Oppo V77', productPrice: 100 }
                    ]
                }
            }
        }).mount('#app')
    </script>
</body>
</html>